.chip
    background: #a7b1c2
    color: #fff
    font-size: 12px
    line-height: 16px
    padding: 2px 25px 2px 12px
    position: relative
    border-radius: 10px
    display: inline-block
    i
        position: absolute
        color: #fff
        right: 3px
        height: 16px
        top: 2px
        font-size: 16px
        cursor pointer
    +.chip
        margin-left: 10px
