.modal
    font-size: 22px
    text-align: center
    color: #2f313d
    &__title
        font-size: 22px
        margin: 0 0 15px
        font-weight: normal
    &__username
        font-size: 28px
        display: block
        text-align: center
        margin-top: 5px
        font-weight bold

.remodal.modal_participants,
.remodal.modal_report-details
    padding: 10px 0 0
    max-width 800px
.remodal.modal_report,
.remodal.modal_block,
.remodal.modal_unblock
    max-width 590px
    .form
        margin-bottom: 25px
.remodal.modal_create-event
    max-width 590px

.remodal.modal_report-details
    padding: 0
    max-width 800px
    .buttons-wrapper
        padding: 0 20px 20px
        &__text
            color: #2f313d
            font-size 14px


.attach-photo
    height: 155px
    background: #a7b1c2
    border-radius: 3px
    position: relative
    width: 100%
    margin-bottom: 10px
    transition: 0.4s
    &:hover
        background: #6D7586
    &__label
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 100%
        width 100%
        color: #fff
        text-transform: uppercase
        text-align: center
        margin: 0
        font-size: 18px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        cursor: pointer
        i
            font-size: 35px
    input
        display: none
