.sidebar
    background: $dark
    width: 220px
    flex-grow: 0
    &__header
        height: 75px
        background: $light_red
        position: relative
    &.collapsed
        width: 90px

.logo
    width: 47px
    height: 47px
    background: url("../img/logo.png") no-repeat;
    font-size: 0
    color: transparent
    text-shadow: none
    text-indent: -9999px
    position absolute
    left: 50%
    top: 50%
    margin-top: -24px
    margin-left: -24px
    cursor: pointer
    a
        display: block
        height 100%

